<div class="bg container-fluid" style="margin-top: 80px">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 bg-custom mt-5 rounded-4 py-5">
      <div class="row text-center">
        <h1 class="px-5">ENTRA <span class="text-danger">SUBITO!</span></h1>
        <p class="m-0 text-secondary text-center fs-6 z-1">
          Non hai un account?
          <span
            id="register-redirect"
            class="pointer text-danger z-1"
            (click)="goRegister()"
            >Crealo qui</span
          >
        </p>
        <div class="col-12 d-flex justify-content-center">
          <form
            #loginForm="ngForm"
            (ngSubmit)="login(loginForm)"
            class="p-5 form-size w-100"
          >
            <div class="mb-3">
              <div class="position-relative">
                <div class="position-absolute end-0 mt-1 me-2 z-1">
                  <i class="fa-solid fa-envelope text-danger"></i>
                </div>
                <input
                  type="email"
                  class="form-control border-0"
                  id="email"
                  name="email"
                  placeholder="E-Mail"
                  ngModel
                  email
                  required
                  [ngClass]="{
                      'shake-horizontal':
                      loginForm.controls['email'] && loginForm.controls['email'].errors?.['email'] && loginForm.controls['email'].touched
                    }"
                />
                <div
                  *ngIf="loginForm.controls['email'] && loginForm.controls['email'].errors?.['email'] && loginForm.controls['email'].touched"
                >
                  <span class="text-danger opacity-75"
                    >Email is not valid!</span
                  >
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="position-relative">
                <div class="position-absolute end-0 mt-1 me-2 z-1">
                  <button
                    type="button"
                    class="btn p-0 m-0"
                    (mousedown)="showPasswordOrNot()"
                    [class.hide]="showPassword"
                  >
                    <i class="fa-solid fa-eye text-danger"></i>
                  </button>
                  <button
                    type="button"
                    class="btn p-0 m-0"
                    (mouseup)="showPasswordOrNot()"
                    [class.hide]="!showPassword"
                  >
                    <i class="fa-solid fa-eye-slash text-danger"></i>
                  </button>
                </div>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control border-0"
                  id="password"
                  name="password"
                  placeholder="Password"
                  [minlength]="8"
                  ngModel
                  required
                  [ngClass]="{
                    'shake-horizontal':
                      loginForm.controls['password'] &&
                      loginForm.controls['password'].touched &&
                      loginForm.controls['password'].invalid
                  }"
                />
                <div
                  *ngIf="
                    loginForm.controls['password'] &&
                    loginForm.controls['password'].touched &&
                    loginForm.controls['password'].invalid
                  "
                >
                  <span class="text-danger opacity-75">
                    La password deve essere di almeno 8 caratteri!
                  </span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                [disabled]="loginForm.invalid"
                class="btn btn-outline-danger px-5 fw-bold"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
