<body id="page-top">
  <header class="masthead vh-100">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="mb-5 mb-lg-0 text-center text-lg-start">
            <h1 class="display-1 lh-1 mb-3">Il tuo compagno di lettura.</h1>
            <p class="lead fw-normal text-muted mb-5">
              Con MANGO.IO tieni traccia dei tuoi manga preferiti e scoprine di
              nuovi in base ai tuoi gusti.
            </p>
            <div class="d-flex flex-column flex-lg-row align-items-center">
              <a
                ><img
                  class="app-badge"
                  src="../../../assets/img/app-store-badge.svg"
                  alt="..."
              /></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="masthead-device-mockup">
            <svg
              class="circle"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs>
                <linearGradient
                  id="circleGradient"
                  gradientTransform="rotate(45)"
                >
                  <stop class="gradient-start-color" offset="0%"></stop>
                  <stop class="gradient-end-color" offset="100%"></stop>
                </linearGradient>
              </defs>
              <circle cx="50" cy="50" r="50"></circle></svg
            ><svg
              class="shape-1 d-none d-sm-block"
              viewBox="0 0 240.83 240.83"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="-32.54"
                y="78.39"
                width="305.92"
                height="84.05"
                rx="42.03"
                transform="translate(120.42 -49.88) rotate(45)"
              ></rect>
              <rect
                x="-32.54"
                y="78.39"
                width="305.92"
                height="84.05"
                rx="42.03"
                transform="translate(-49.88 120.42) rotate(-45)"
              ></rect></svg
            ><svg
              class="shape-2 d-none d-sm-block"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="50" cy="50" r="50"></circle>
            </svg>
            <div class="device-wrapper">
              <div
                class="device"
                data-device="iPhoneX"
                data-orientation="portrait"
                data-color="black"
              >
                <div class="screen bg-black">
                  <video
                    muted="muted"
                    autoplay=""
                    loop=""
                    style="max-width: 100%; height: 100%; position: relative"
                  >
                    <source src="assets/img/demo-screen.mp4" type="video/mp4" />
                  </video>
                  <img
                    src="../../../assets/images/mangomascotte-removebg-preview.png"
                    alt=""
                    class="centered-image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <aside
    class="text-center mb-5 embossed bg-mango"
    style="position: relative; overflow: hidden"
  >
    <div class="z-2 d-flex">
      <div class="mt-5 mb-5 z-2 w-100">
        <div class="bg-whatsapp d-flex flex-column">
          <div class="bubble left">L'hai letto il nuovo capitolo?</div>
          <div class="bubble right">Non ancora..</div>
          <div class="h1 font-logo mango-color mb-5 shadow-nice">
            "MANGO <span class="font-logo text-danger">.IO"</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <img
        src="../../../assets/images/263296-removebg.png"
        alt=""
        style="position: absolute; bottom: -30px; left: -250px; height: 700px"
      />
    </div>
  </aside>

  <section id="features" class="mt-5 mb-5">
    <div class="container px-5 p-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
          <div class="container-fluid px-5">
            <div class="row gx-5">
              <div class="col-md-6 mb-5">
                <div class="text-center">
                  <i
                    class="fa-solid fa-mobile-button icon-feature text-gradient d-block mb-3 text-light"
                  ></i>
                  <h3 class="font-alt text-danger">Sempre con te</h3>
                  <p class="text-light mb-0">
                    Scarica l'app sul tuo device preferito per aggiornare in
                    tempo reale i tuoi progressi, dovunque tu sia.
                  </p>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="text-center">
                  <i
                    class="fa-regular fa-bookmark icon-feature text-gradient d-block mb-3 text-light"
                  ></i>
                  <h3 class="font-alt text-danger">Il tuo match perfetto</h3>
                  <p class="text-light mb-0">
                    Rimani sempre aggiornato sulle nuove uscite e scopri nuovi
                    manga in base a quello che ti piace.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-5 mb-md-0">
                <div class="text-center">
                  <i
                    class="fa-solid fa-coins icon-feature text-gradient d-block mb-3 text-light"
                  ></i>
                  <h3 class="font-alt text-danger">Piu leggi, piu vinci!</h3>
                  <p class="text-light mb-0">
                    Guadagna
                    <span class="text-rainbow-animation">MangoCoins</span>
                    leggendo giornalmente e registrando i tuoi progressi, oppure
                    partecipando ai nostri giochi.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center">
                  <i
                    class="fa-regular fa-pen-to-square icon-feature text-gradient d-block mb-3 text-light"
                  ></i>
                  <h3 class="font-alt text-danger">Esprimi te stesso</h3>
                  <p class="text-light mb-0">
                    Spendi i tuoi coins per acquistare temi o avatar per il tuo
                    profilo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-lg-0">
          <div class="features-device-mockup">
            <svg
              class="circle"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <defs>
                <linearGradient
                  id="circleGradient"
                  gradientTransform="rotate(45)"
                >
                  <stop class="gradient-start-color" offset="0%"></stop>
                  <stop class="gradient-end-color" offset="100%"></stop>
                </linearGradient>
              </defs></svg
            ><svg
              class="shape-1 d-none d-sm-block"
              viewBox="0 0 240.83 240.83"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="-32.54"
                y="78.39"
                width="305.92"
                height="84.05"
                rx="42.03"
                transform="translate(120.42 -49.88) rotate(45)"
              ></rect>
              <rect
                x="-32.54"
                y="78.39"
                width="305.92"
                height="84.05"
                rx="42.03"
                transform="translate(-49.88 120.42) rotate(-45)"
              ></rect></svg
            ><svg
              class="shape-2 d-none d-sm-block"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="50" cy="50" r="50"></circle>
            </svg>
            <div class="device-wrapper">
              <div
                class="device"
                data-device="iPhoneX"
                data-orientation="portrait"
                data-color="black"
              >
                <div class="screen bg-black">
                  <video
                    muted="muted"
                    autoplay=""
                    loop=""
                    style="max-width: 100%; height: 100%"
                  >
                    <source src="assets/img/demo-screen.mp4" type="video/mp4" />
                  </video>
                  <img
                    src="../../../assets/images/petals-removebg-preview.png"
                    alt=""
                    class="centered-image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-black text-center py-5">
    <div class="container px-5">
      <div class="text-white-50 small">
        <div class="mb-2">&copy; Mango.io 2024 All Rights Reserved.</div>
        <a href="#!">Privacy</a>
        <span class="mx-1">&middot;</span>
        <a href="#!">Terms</a>
        <span class="mx-1">&middot;</span>
        <a href="#!">FAQ</a>
      </div>
    </div>
  </footer>
</body>
