<div class="bg container-fluid" style="margin-top: 80px">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 bg-custom mt-5 rounded-4 py-5">
      <div class="row text-center">
        <h1>MANGHI SOLO <span class="text-danger">TU!</span></h1>
        <p class="m-0 text-secondary text-center fs-6 z-1">
          Sei gia registrato?
          <span
            id="register-redirect"
            class="pointer text-danger"
            (click)="goLogin()"
            >Log-in</span
          >
        </p>
        <div class="col-12 d-flex justify-content-center">
          <form
            #registerForm="ngForm"
            (ngSubmit)="register(registerForm)"
            class="p-5 form-size w-100"
          >
            <div class="mb-3">
              <div class="position-relative">
                <div class="position-absolute end-0 mt-1 me-2 z-1">
                  <i class="fa-solid fa-id-card-clip text-danger"></i>
                </div>
                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  class="form-control border-0"
                  required
                  ngModel
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="position-relative">
                <div class="position-absolute end-0 mt-1 me-2 z-1">
                  <i class="fa-solid fa-address-card text-danger"></i>
                </div>
                <input
                  type="text"
                  name="name"
                  placeholder="Nome"
                  class="form-control border-0"
                  required
                  ngModel
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="position-relative">
                <div class="position-absolute end-0 mt-1 me-2 z-1">
                  <i class="fa-solid fa-address-card text-danger"></i>
                </div>
                <input
                  type="text"
                  name="surname"
                  placeholder="Cognome"
                  class="form-control border-0"
                  required
                  ngModel
                />
              </div>
            </div>
            <div class="mb-3">
              <div class="position-relative">
                <div class="position-absolute end-0 mt-1 me-2 z-1">
                  <i class="fa-solid fa-envelope text-danger"></i>
                </div>
                <input
                  type="email"
                  name="email"
                  placeholder="E-Mail"
                  class="form-control border-0"
                  required
                  email
                  ngModel
                  [ngClass]="{
                      'shake-horizontal':
                      registerForm.controls['email'] && registerForm.controls['email'].errors?.['email'] && registerForm.controls['email'].touched
                    }"
                />
                <div
                  *ngIf="registerForm.controls['email'] && registerForm.controls['email'].errors?.['email'] && registerForm.controls['email'].touched"
                >
                  <span class="text-danger opacity-75"
                    >Email is not valid!</span
                  >
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div class="position-relative">
                <div class="position-absolute end-0 mt-1 me-2 z-1">
                  <button
                    type="button"
                    class="btn p-0 m-0"
                    (mousedown)="showPasswordOrNot()"
                    [class.hide]="showPassword"
                  >
                    <i class="fa-solid fa-eye text-danger"></i>
                  </button>
                  <button
                    type="button"
                    class="btn p-0 m-0"
                    (mouseup)="showPasswordOrNot()"
                    [class.hide]="!showPassword"
                  >
                    <i class="fa-solid fa-eye-slash text-danger"></i>
                  </button>
                </div>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control border-0"
                  name="password"
                  placeholder="Password"
                  [minlength]="8"
                  required
                  ngModel
                  [ngClass]="{
                    'shake-horizontal':
                      registerForm.controls['password'] &&
                      registerForm.controls['password'].touched &&
                      registerForm.controls['password'].invalid
                  }"
                />
                <div
                  *ngIf="
                    registerForm.controls['password'] &&
                    registerForm.controls['password'].touched &&
                    registerForm.controls['password'].invalid
                  "
                >
                  <span class="text-danger opacity-75">
                    Password must be at least 8 characters long!
                  </span>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-outline-danger px-5 fw-bold"
                [disabled]="registerForm.invalid"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
