<div class="mt-17">
  <div id="gradient"></div>
  <div
    id="card"
    class="bg-dark slide-in-fwd-left"
    [class.slide-out-right]="isClicked"
  >
    <div class="p-3">
      <img src="{{ foundManga.imageUrl }}" class="object-fit-cover" />
    </div>
    <h2 class="text-danger">{{ foundManga.title }}</h2>

    <div class="d-flex flex-wrap margins">
      <div class="text-danger font-small me-3">Generi</div>
      <p class="pe-1 text-light" *ngFor="let genre of genres">{{ genre }},</p>
    </div>
    <div class="d-flex flex-wrap margins">
      <div class="text-danger font-small me-3">Autori</div>
      <p class="pe-1 text-light" *ngFor="let author of authors">
        {{ author }}
      </p>
    </div>
    <div class="d-flex flex-wrap margins">
      <div class="text-danger font-small me-3">Punteggio</div>
      <p class="pe-1 text-light">
        {{ foundManga.score
        }}<i class="fa-solid fa-star fs-6 ms-2 text-rainbow-animation"></i>
      </p>
    </div>
    <div class="d-flex">
      <button
        type="button"
        class="btn btn-danger ms-auto"
        (click)="addMangaToList(foundManga.id)"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</div>
