.left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

#gradient {
  background: #999955;
  background-image: linear-gradient(
    #f3c956 20%,
    #d75442 20%,
    #d75442 40%,
    #b9363e 40%,
    #b9363e 60%,
    #961a39 60%,
    #961a39 80%,
    #601035 80%
  );
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  height: 150px;
}

.mt-17 {
  margin-top: 17rem;
}

#card {
  position: absolute;
  width: 600px;
  margin-top: 9rem;
  padding-top: 0;
  padding-bottom: 0;
  left: 50%;
  top: 67.5px;
  margin-left: -300px;
  border-radius: 10px;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

#card img {
  float: left;
  border-radius: 10px;
  width: 140px;
}
.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.text-rainbow-animation {
  background-image: linear-gradient(
    to right,
    #c55a82,
    #e29d81,
    #ffdf80,
    #c55a82
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 10000s linear infinite;
}
@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}
#card h2 {
  font-family: "Barlow Condensed";
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
  margin-left: 180px;
  margin-top: 20px;
}

.margins {
  margin-left: 180px;
}
#card p {
  font-family: "Barlow Condensed";
}

.font-small {
  font-family: "Barlow Condensed";
}
